*.bak
*.DS_Store
*.log
*.sublime-project
*.sublime-workspace
.php_cs
composer.lock
phinx.yml
phpdox.xml
phpunit.xml
sftp-config.json
vendor/
resources/emails/cache/*.php
humbuglog.txt
humbuglog.json
humbug.json
